<%= toast %>

<h2>Items</h2>

<table class='table'>
  <tr>
    <th>Name</th>
    <th>Price</th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.name %></td>
    <td>
      <div class="pull-right">
        <%= form_for(Basket.first.basket_items.new, remote: true) do |f| %>
          <%= f.hidden_field :basket_id, value: Basket.first.id %>
          <%= f.hidden_field :resource_id, value: item.id %>
          <%= f.hidden_field :resource_type, value: 'Item' %>
          <%= number_to_currency(item.price, :unit => "£") %>
          <div class='row'>
            <div class="col col-2">
              <%= f.text_field :quantity, value: 1, min: 1, class: 'form-control', type: "number" %>
            </div>
            <div class='col col-2'>
              <%= f.submit "Add to cart", class: 'btn btn-primary btn-sm' %>
            </div>
          </div>
        <% end %>
      </div>
    </td>
  </tr>
<% end %>
</table>