<!DOCTYPE html>
<html>
  <head>
    <title>ExpertOctoMemory</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

	<div class='container'>

	    <ul class="nav">
	      <li class="nav-item">
	      	<%= link_to "Items", items_path, class: "nav-link" %>
	      </li>
	      <li class="nav-item">
	        <%= render 'layouts/basket' %>
	      </li>
	    </ul>
	</div>

    <%= yield %>
  </body>
</html>